* {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box;
  text-decoration: none; }

html, body {
  font-size: 10px; }

html {
  scroll-behavior: smooth; }

.wrapper {
  display: grid;
  grid-template-columns: 100%; }

@font-face {
  font-family: 'Cairo';
  src: url(../assets/fonts/Cairo/Cairo-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url(../assets/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

/*
    wow -> world of warcraft
    l   ->  large
    m   ->  medium
    s   ->  small
*/
/*
	Example:
	-------------------------------------------------------------------------------------------------
	@include mq($phone) 			 	@media screen and (max-width: 640px)
	-------------------------------------------------------------------------------------------------
	@include mq(991) 			 	 	@media screen and (max-width: 991px)
	-------------------------------------------------------------------------------------------------
	@include mq($phone + 1, min) 	 	@media screen and (min-width: 641px)
	-------------------------------------------------------------------------------------------------
	@include mq(992, min) 			 	@media screen and (min-width: 992px)
	-------------------------------------------------------------------------------------------------
	@include mq(400, min, height) 	 	@media screen and (min-height: 400px)
	-------------------------------------------------------------------------------------------------
	@include mq(992) {				 	@media screen and (max-width: 992px) and (min-width: 767px)
		@include mq(767, min) {
		}
	}
	-------------------------------------------------------------------------------------------------
 */
.c-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  color: #fff;
  background: url(../assets/images/hero.png) no-repeat top center;
  background-size: cover; }
  @media screen and (min-width: 600px) {
    .c-hero {
      padding-block-start: 10%;
      padding-block-end: 10%; } }
  @media screen and (min-width: 1500px) {
    .c-hero {
      height: 97rem;
      justify-content: start;
      padding-block-start: 0;
      padding-block-end: 0; }
      .c-hero .u-paragraph-normal:first-child {
        margin-block-start: 32.8rem;
        margin-block-end: 3rem; }
      .c-hero .u-paragraph-normal:nth-child(5) {
        margin-block-start: auto;
        margin-block-end: 32.8rem; }
      .c-hero .u-separator {
        margin-block-start: 0;
        margin-block-end: 2rem; }
      .c-hero .c-hero__heading-box {
        margin-block-end: 3rem; }
      .c-hero .u-heading-l {
        display: flex;
        align-items: center; } }
  .c-hero .u-paragraph-normal {
    color: #bcbcbc; }

.c-hero__separator {
  margin-block-start: 1em; }

@media screen and (min-width: 1500px) {
  .c-hero__heading-box .u-heading-l:first-child .c-hero__heading-prefix {
    margin-inline-end: 0.3rem; } }

.c-hero__heading-prefix {
  display: block;
  color: #bcbcbc; }
  @media screen and (min-width: 600px) {
    .c-hero__heading-prefix {
      display: inline-block; } }
  @media screen and (min-width: 1500px) {
    .c-hero__heading-prefix + span {
      display: inline-block;
      width: 0.1rem;
      height: 5.7rem;
      background-color: #ffb86c;
      margin-inline-start: 1rem;
      margin-inline-end: 1rem; } }

.c-hero__color-squares {
  margin-block-end: 1em; }

.c-hero__scroll {
  width: 7.5rem;
  padding-block-end: 0.8rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  border-block-end: 0.2rem solid #e74315; }
  @media screen and (min-width: 1200px) {
    .c-hero__scroll {
      width: 8.4rem;
      font-size: 1.4rem;
      position: absolute;
      left: 10rem;
      bottom: 17.4rem;
      transform: rotateZ(-90deg);
      text-align: end; } }

.c-affixes, .c-affixes__background-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.c-affixes {
  color: #fff; }

.c-affixes__background-wrapper {
  position: relative;
  width: 100%; }

.c-affixes__background-wrapper--one {
  background: url(../assets/images/affixes.png) no-repeat top center;
  background-size: cover; }

.c-affixes__background-wrapper--two {
  background: linear-gradient(180deg, #2d2c2f, #131313); }

.c-affixes__background-wrapper--three {
  background: url(../assets/images/stuff.png) no-repeat top center;
  background-size: cover; }

.c-affixes-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem;
  padding-block-start: 3rem;
  padding-block-end: 2rem;
  width: 100%;
  max-width: 92.7rem; }
  @media screen and (min-width: 600px) {
    .c-affixes-intro {
      padding-inline-start: 10rem;
      padding-inline-end: 10rem; } }
  @media screen and (min-width: 1200px) {
    .c-affixes-intro {
      padding-block-start: 6rem;
      padding-inline-start: 0;
      padding-inline-end: 0; } }

.c-affix-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  padding-inline-start: 3rem;
  padding-inline-end: 3rem; }

.c-affix-card--normal {
  transition: all 250ms ease-in; }
  .c-affix-card--normal:hover {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.2); }

.c-affix-card--accent {
  padding-block-start: 0;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0.2rem 4rem rgba(0, 0, 0, 0.2); }

.c-affix-card--red {
  border: 0.1rem solid #e74315; }

.c-affix-card--orange {
  border: 0.1rem solid #ffb86c; }

.c-affix-card__header {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 1.6em;
  width: 9em;
  text-align: center;
  border-radius: 0 0 0.6em 0.6em;
  margin-block-end: 1em; }
  @media screen and (min-width: 1200px) {
    .c-affix-card__header {
      font-size: 1.6rem; } }

.c-affix-card__header--red {
  background-color: #e74315; }

.c-affix-card__header--orange {
  background-color: #ffb86c; }

.c-affixes-level-two {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-block-start: 2rem;
  padding-block-end: 2rem;
  width: 100%;
  max-width: 101.1rem;
  padding-inline-start: 5%;
  padding-inline-end: 5%; }
  @media screen and (min-width: 1200px) {
    .c-affixes-level-two {
      padding-block-end: 6rem;
      padding-inline-start: 0;
      padding-inline-end: 0; } }

.c-affixes-level-four {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  width: 100%;
  max-width: 101.1rem;
  padding-inline-start: 5%;
  padding-inline-end: 5%; }
  @media screen and (min-width: 1200px) {
    .c-affixes-level-four {
      padding-block-start: 6rem;
      padding-inline-start: 0;
      padding-inline-end: 0; } }

.c-table-striped {
  display: grid;
  grid-template-columns: 1fr;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.5em;
  width: 100%;
  min-width: 50rem;
  margin-inline-start: auto;
  margin-inline-end: auto; }
  @media screen and (min-width: 600px) {
    .c-table-striped {
      font-size: 1.4rem;
      min-width: 100rem; } }
  @media screen and (min-width: 1200px) {
    .c-table-striped {
      font-size: 1.8rem; } }
  @media screen and (min-width: 1200px) {
    .c-table-striped {
      min-width: initial;
      width: 90rem; } }

.c-table-striped__header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style: none;
  background-color: #50fa7b;
  color: #383838; }

.c-table-striped__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  list-style: none; }

.c-table-striped__row:nth-child(odd) {
  background-color: rgba(156, 156, 156, 0); }

.c-table-striped__row:nth-child(even) {
  background-color: rgba(156, 156, 156, 0.2); }

.c-table-striped__header > span, .c-table-striped__row > span {
  padding-inline-start: 1em; }
  @media screen and (min-width: 600px) {
    .c-table-striped__header > span, .c-table-striped__row > span {
      padding-inline-start: 2em; } }
  @media screen and (min-width: 1200px) {
    .c-table-striped__header > span, .c-table-striped__row > span {
      padding-inline-start: 3em; } }

.c-table-striped__row:hover {
  background-color: rgba(156, 156, 156, 0.8); }

.c-affixes-schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  width: 100%;
  max-width: 101rem; }
  @media screen and (min-width: 600px) {
    .c-affixes-schedule {
      padding-inline-start: 5rem;
      padding-inline-end: 5rem; } }
  @media screen and (min-width: 1200px) {
    .c-affixes-schedule {
      padding-inline-start: 0;
      padding-inline-end: 0; } }

.c-group-consideratinos {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 96rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 3rem; }
  @media screen and (min-width: 600px) {
    .c-group-consideratinos {
      padding-inline-start: 7rem;
      padding-inline-end: 7rem; } }
  @media screen and (min-width: 1200px) {
    .c-group-consideratinos {
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-block-start: 6rem; } }

.c-group-considerations__list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.2rem;
  color: #bcbcbc;
  list-style: none; }
  @media screen and (min-width: 600px) {
    .c-group-considerations__list {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1200px) {
    .c-group-considerations__list {
      font-size: 1.8rem; } }

.c-group-considerations__list li::before {
  content: '';
  background-color: #50fa7b;
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  margin-block-end: 0.1em;
  margin-inline-end: 0.5em; }

.c-useful-stuff {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 96rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 3rem; }
  @media screen and (min-width: 600px) {
    .c-useful-stuff {
      padding-inline-start: 7rem;
      padding-inline-end: 7rem; } }
  @media screen and (min-width: 1200px) {
    .c-useful-stuff {
      padding-inline-start: 0;
      padding-inline-end: 0;
      padding-block-start: 6rem; } }

.c-usful-stuff__list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 4500;
  font-size: 1.2rem;
  list-style: none;
  line-height: 1.5em; }
  @media screen and (min-width: 600px) {
    .c-usful-stuff__list {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1200px) {
    .c-usful-stuff__list {
      font-size: 1.8rem; } }

.c-usful-stuff__list a {
  color: #00fff0;
  font-weight: 700; }

.c-usful-stuff__list a:hover {
  text-decoration: underline; }

.c-wow-footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding-block-start: 3rem;
  background-color: #000;
  font-family: Roboto, sans-serif;
  font-style: normal; }
  @media screen and (min-width: 1200px) {
    .c-wow-footer {
      padding-block-start: 6rem; } }
  .c-wow-footer > p {
    font-weight: 700; }

.c-wow-footer__adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  padding-inline-start: 2em;
  padding-inline-end: 2em; }
  @media screen and (min-width: 900px) {
    .c-wow-footer__adresses {
      flex-direction: row;
      justify-content: space-evenly; } }
  .c-wow-footer__adresses p {
    font-weight: 400; }
  .c-wow-footer__adresses a {
    color: #00fff0; }
    .c-wow-footer__adresses a:hover {
      text-decoration: underline; }

.c-wow-footer > p, .c-wow-footer__adresses p {
  font-size: 1.2rem;
  line-height: 2em; }
  @media screen and (min-width: 600px) {
    .c-wow-footer > p, .c-wow-footer__adresses p {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1200px) {
    .c-wow-footer > p, .c-wow-footer__adresses p {
      font-size: 1.8rem; } }

.c-wow-footer__tm {
  background-color: #383838;
  width: 100%;
  padding-block-start: 2em;
  padding-block-end: 2em;
  padding-inline-start: 2em;
  padding-inline-end: 2em; }
  .c-wow-footer__tm p {
    width: 100%;
    max-width: 128.6rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2em;
    background-color: #383838; }
    @media screen and (min-width: 600px) {
      .c-wow-footer__tm p {
        font-size: 1.2rem; } }
    @media screen and (min-width: 1200px) {
      .c-wow-footer__tm p {
        font-size: 1.4rem; } }

.c-navigation {
  position: relative;
  height: 6rem;
  background-color: #000; }
  @media screen and (min-width: 900px) {
    .c-navigation {
      height: initial; } }

.c-navigation__toggle {
  position: absolute;
  top: 1.85rem;
  left: 2rem;
  width: 3rem;
  height: 2.5rem;
  opacity: 0;
  z-index: 20;
  cursor: pointer; }
  @media screen and (min-width: 900px) {
    .c-navigation__toggle {
      display: none; } }

.c-navigation__toggle:checked ~ .c-navigation__list {
  display: flex; }

.c-navigation__icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 10; }
  @media screen and (min-width: 900px) {
    .c-navigation__icon {
      display: none; } }
  .c-navigation__icon span {
    display: block;
    width: 3rem;
    height: 0.4rem;
    background: #fff;
    border-radius: 0.3rem; }
    .c-navigation__icon span:not(:last-child) {
      margin-block-end: 0.5rem; }

.c-navigation__list {
  position: absolute;
  top: 6rem;
  display: none;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: #000;
  width: 100%;
  max-width: 100rem;
  z-index: 30; }
  @media screen and (min-width: 900px) {
    .c-navigation__list {
      position: static;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; } }
  .c-navigation__list li {
    width: 100%; }
  .c-navigation__list a {
    display: inline-block;
    width: 100%;
    font-family: Cairo, sans-serif;
    line-height: 2.5em;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    transition: background-color 250ms ease-in-out; }
    @media screen and (min-width: 1200px) {
      .c-navigation__list a {
        font-size: 2rem; } }
    .c-navigation__list a:hover {
      background-color: #383838; }

.l-grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3.7rem; }
  @media screen and (min-width: 1200px) {
    .l-grid-two {
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); } }

.u-heading-l, .u-heading-m, .u-heading-s {
  font-family: Cairo, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 1.2em;
  text-align: center; }

.u-heading-l {
  font-size: 2rem;
  text-transform: uppercase; }
  @media screen and (min-width: 600px) {
    .u-heading-l {
      font-size: 3rem; } }
  @media screen and (min-width: 900px) {
    .u-heading-l {
      font-size: 4rem; } }
  @media screen and (min-width: 1200px) {
    .u-heading-l {
      font-size: 5rem; } }
  @media screen and (min-width: 1500px) {
    .u-heading-l {
      font-size: 6rem; } }

.u-heading-m {
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase; }
  @media screen and (min-width: 900px) {
    .u-heading-m {
      font-size: 4rem; } }
  @media screen and (min-width: 1200px) {
    .u-heading-m {
      font-size: 5rem; } }

.u-heading-s {
  font-size: 2rem; }
  @media screen and (min-width: 1200px) {
    .u-heading-s {
      font-size: 3rem; } }

.u-heading-s--grey {
  color: #bcbcbc; }

.u-heading-s--red {
  color: #e74315; }

.u-heading-s--orange {
  color: #ffb86c; }

.u-heading-s--green {
  color: #50fa7b; }

.u-heading-s--uppercase {
  text-transform: uppercase; }

.u-paragraph-normal {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.17em; }
  @media screen and (min-width: 600px) {
    .u-paragraph-normal {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1200px) {
    .u-paragraph-normal {
      font-size: 1.8rem; } }

.u-paragraph-italic {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  text-align: center; }
  @media screen and (min-width: 600px) {
    .u-paragraph-italic {
      font-size: 1.2rem; } }
  @media screen and (min-width: 1200px) {
    .u-paragraph-italic {
      font-size: 1.4rem; } }

.u-text-color-secondary {
  color: #bcbcbc; }

.u-separator {
  width: 6rem;
  height: 0.1rem; }
  @media screen and (min-width: 600px) {
    .u-separator {
      width: 8.4rem;
      height: 0.2rem; } }

.u-separator--dark-red {
  background: #ba3a16; }

.u-separator--red {
  background: #e74315; }

.u-separator--orange {
  background: #ffb86c; }

.u-separator--green {
  background: #50fa7b; }

.u-separator-wide {
  width: 100%;
  height: 0.1rem;
  background-color: #6f6f6f; }
  @media screen and (min-width: 1200px) {
    .u-separator-wide {
      width: 120rem; } }

.u-separator-wide--absolute {
  position: absolute;
  bottom: 1px;
  z-index: 10; }

/*
  m   ->  margin
  b   ->  block
  e   ->  end
  lg  ->  large
  md  ->  medium
  sm  ->  small
*/
.u-mbe-lg {
  margin-block-end: 4rem; }
  @media screen and (min-width: 1200px) {
    .u-mbe-lg {
      margin-block-end: 6rem; } }

.u-mbe-md {
  margin-block-end: 2.5rem; }
  @media screen and (min-width: 1200px) {
    .u-mbe-md {
      margin-block-end: 4rem; } }

.u-mbe-sm {
  margin-block-end: 1rem; }
  @media screen and (min-width: 1200px) {
    .u-mbe-sm {
      margin-block-end: 2rem; } }

.u-subtext {
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
  text-align: center;
  color: #bcbcbc; }
  @media screen and (min-width: 600px) {
    .u-subtext {
      font-size: 1.4rem; } }
  @media screen and (min-width: 1200px) {
    .u-subtext {
      font-size: 1.8rem; } }

.u-subtext--normal-upperc {
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase; }

.u-subtext--normal-bold {
  font-style: normal;
  font-weight: 700; }

.u-subtext--italic-upperc {
  font-weight: 500;
  font-style: italic;
  text-transform: uppercase; }

.u-self-align-start {
  justify-self: start; }

.u-horizontal-scroll {
  width: 100%;
  overflow: auto; }

.three-color-squares {
  display: flex;
  justify-content: center; }
  .three-color-squares span {
    width: 1.1rem;
    height: 1.1rem; }
    .three-color-squares span:nth-child(1) {
      background-color: #e74315;
      animation: wave-start 5s ease-in-out infinite;
      transform-origin: bottom right; }
    .three-color-squares span:nth-child(2) {
      background-color: #ffb86c;
      animation: wave-center 5s ease-in-out infinite; }
    .three-color-squares span:nth-child(3) {
      background-color: #50fa7b;
      animation: wave-end 5s ease-in-out infinite;
      transform-origin: top left; }

@keyframes wave-start {
  0% {
    transform: rotateZ(0); }
  12.5% {
    transform: rotateZ(90deg); }
  25% {
    transform: rotateZ(90deg); }
  37.5% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(0); }
  62.5% {
    transform: rotateZ(-180deg); }
  75% {
    transform: rotateZ(-180deg); }
  87.5% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(0); } }

@keyframes wave-center {
  0% {
    transform: translateY(0); }
  12.5% {
    transform: translateY(1.1rem); }
  25% {
    transform: translateY(1.1rem); }
  37.5% {
    transform: translateY(0); }
  50% {
    transform: translateY(0); }
  62.5% {
    transform: translateY(-1.1rem); }
  75% {
    transform: translateY(-1.1rem); }
  87.5% {
    transform: translateY(0); }
  100% {
    transform: translateY(0); } }

@keyframes wave-end {
  0% {
    transform: rotateZ(0); }
  12.5% {
    transform: rotateZ(-180deg); }
  25% {
    transform: rotateZ(-180deg); }
  37.5% {
    transform: rotateZ(0); }
  50% {
    transform: rotateZ(0); }
  62.5% {
    transform: rotateZ(90deg); }
  75% {
    transform: rotateZ(90deg); }
  87.5% {
    transform: rotateZ(0); }
  100% {
    transform: rotateZ(0); } }

.difficulties {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media screen and (min-width: 600px) {
    .difficulties {
      flex-direction: row;
      justify-content: center; } }
  .difficulties p {
    width: 10em;
    font-family: Roboto, sans-serif;
    color: #fff;
    text-align: center;
    line-height: 2.4em;
    font-size: 1.2rem;
    background-color: #50fa7b; }
    @media screen and (min-width: 900px) {
      .difficulties p {
        font-size: 1.4rem; } }
    @media screen and (min-width: 1200px) {
      .difficulties p {
        font-size: 1.8rem; } }
    .difficulties p:not(:last-child) {
      margin-block-end: 1.2em; }
      @media screen and (min-width: 600px) {
        .difficulties p:not(:last-child) {
          margin-block-end: 0;
          margin-inline-end: 1.2em; } }
    .difficulties p:nth-child(1) {
      background-color: #50fa7b; }
    .difficulties p:nth-child(2) {
      background-color: #ffb86c; }
    .difficulties p:nth-child(3) {
      background-color: #e74315; }
