.l-grid-two {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 3.7rem;

  @include mq($laptop, min) {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}