
/*
    m   ->  margin
    b   ->  block
    e   ->  end
    md  ->  medium
    sm  ->  small
*/

.l-mbe-md {
    margin-block-end: 2.5rem;

    @include mq($laptop, min) {
        margin-block-end: 4rem;
    }
}

.l-mbe-sm {
    margin-block-end: 1rem;

    @include mq($laptop, min) {
        margin-block-end: 2rem;
    }
}