/*
    wow -> world of warcraft
    l   ->  large
    m   ->  medium
    s   ->  small
*/

$wow-font-heading: Cairo, sans-serif;
$wow-font-paragraph: Roboto, sans-serif;

$wow-fsize-heading-l: 6rem;
$wow-fsize-heading-m: 5rem;
$wow-fsize-heading-s: 3rem;

$wow-fsize-paragraph-l: 1.8rem;
$wow-fsize-paragraph-m: 1.4rem;
$wow-fsize-paragraph-s: 1rem;

$wow-color-primary: #fff;
$wow-color-secondary: #bcbcbc;
$wow-color-accent: #00fff0;

$wow-color-red: #e74315;
$wow-color-orange: #ffb86c;
$wow-color-green: #50fa7b;

$tablet-portrait: 600;
$tablet-landscape: 900;
$laptop: 1200;
$desktop: 1500;
