.c-affixes, .c-affixes__background-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-affixes {
    color: $wow-color-primary;
}

.c-affixes__background-wrapper {
    width: 100%;
}

.c-affixes__background-wrapper--one {
    background: url(../assets/images/affixes.png) no-repeat top center;
    background-size: cover;
}

.c-affixes__background-wrapper--two {
    background: linear-gradient(180deg, $wow-color-grey-two, $wow-color-grey-three);
}

.c-affixes__background-wrapper--three {
    background: url(../assets/images/stuff.png) no-repeat top center;
    background-size: cover;
}