.c-hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100vh;
    padding-inline-start: 3rem;
    padding-inline-end: 3rem;

    color: $wow-color-primary;
    background: url(../assets/images/hero.png) no-repeat top center;
    background-size: cover;

    @include mq($tablet-portrait, min) {
        padding-block-start: 10%;
        padding-block-end: 10%;
    }

    @include mq($desktop, min) {
        height: 97rem;
        justify-content: start;
        padding-block-start: 0;
        padding-block-end: 0;

        .u-paragraph-normal {

            &:first-child {
                margin-block-start: 32.8rem;
                margin-block-end: 3rem;
            }

            &:nth-child(5) {
                margin-block-start: auto;
                margin-block-end: 32.8rem;
            }
        }

        .u-separator {
            margin-block-start: 0;
            margin-block-end: 2rem;
        }

        .c-hero__heading-box {
            margin-block-end: 3rem;
        }

        .u-heading-l {
            display: flex;
            align-items: center;
        }
    }

    .u-paragraph-normal {
        color: $wow-color-secondary;
    }
}

.c-hero__separator {
    margin-block-start: 1em;
}

.c-hero__heading-box {
    .u-heading-l:first-child {
        .c-hero__heading-prefix {

            @include mq($desktop, min) {
                margin-inline-end: 0.3rem;
            }
        }
    }
}

.c-hero__heading-prefix {
    display: block;
    color: $wow-color-secondary;

    @include mq($tablet-portrait, min) {
        display: inline-block;
    }

    & + span {

        @include mq($desktop, min) {
            display: inline-block;
            width: 0.1rem;
            height: 5.7rem;
            background-color: $wow-color-orange;
            margin-inline-start: 1rem;
            margin-inline-end: 1rem;
        }
    }
}

.c-hero__color-squares {
    margin-block-end: 1em;
}

.c-hero__scroll {
    width: 7.5rem;
    padding-block-end: 0.8rem;
    font-family: $wow-font-paragraph;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    border-block-end: 0.2rem solid $wow-color-red;

    @include mq($laptop, min) {
        width: 8.4rem;
        font-size: 1.4rem;
        position: absolute;
        left: 10rem;
        bottom: 17.4rem;
        transform: rotateZ(-90deg);
        text-align: end;
    }
}
