.c-table-striped {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: $wow-font-paragraph;
  font-style: normal;
  font-weight: 500;
  font-size: $wow-fsize-paragraph-s;
  line-height: 2.5em;
  width: 100%;

  @include mq($tablet-portrait, min) {
    font-size: $wow-fsize-paragraph-m;
  }

  @include mq($laptop, min) {
    font-size: $wow-fsize-paragraph-l;
  }
}

.c-table-striped th {
  background-color: $wow-color-green;
  color: $wow-color-grey-four;
  text-align: start;
}

.c-table-striped th, td {
  padding-inline-start: 1em;

  @include mq($tablet-portrait, min) {
    padding-inline-start: 2em;
  }

  @include mq($laptop, min) {
    padding-inline-start: 3em;
  }
}

.c-table-striped tr:nth-child(odd) {
  background-color: rgba($color: $wow-color-grey-five, $alpha: 0);
}

.c-table-striped tr:nth-child(even) {
  background-color: rgba($color: $wow-color-grey-five, $alpha: 0.2);
}

.c-table-striped tr:hover {
  background-color: rgba($color: $wow-color-grey-five, $alpha: 0.8);
}