.c-useful-stuff {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  max-width: 101rem;
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
  padding-block-start: 3rem;

  @include mq($tablet-portrait, min) {
    padding-inline-start: 7rem;
    padding-inline-end: 7rem;
  }

  @include mq($laptop, min) {
    padding-inline-start: 0;
    padding-inline-end: 0;
    padding-block-start: 6rem;
  }
}

.c-usful-stuff__list {
  font-family: $wow-font-paragraph;
  font-style: normal;
  font-weight: 4500;
  font-size: $wow-fsize-paragraph-s;
  list-style: none;
  line-height: 1.5em;

  @include mq($tablet-portrait, min) {
    font-size: $wow-fsize-paragraph-m;
  }

  @include mq($laptop, min) {
    font-size: $wow-fsize-paragraph-l;
  }
}

.c-usful-stuff__list a {
  color: $wow-color-accent;
  font-weight: 700;
}

.c-usful-stuff__list a:hover {
  text-decoration: underline;
}