.c-wow-footer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding-block-start: 3rem;
  background-color: $wow-color-black;
  font-family: $wow-font-paragraph;
  font-style: normal;
  
  @include mq($laptop, min) {
    padding-block-start: 6rem;
  }

  & > p {
    font-weight: 700;
  }
}

.c-wow-footer__adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  padding-inline-start: 2em;
  padding-inline-end: 2em;

  @include mq($tablet-landscape, min) {
    flex-direction: row;
    justify-content: space-evenly;
  }

  p {
    font-weight: 400;
  }

  a {
    color: $wow-color-accent;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-wow-footer > p, .c-wow-footer__adresses p {
  font-size: $wow-fsize-paragraph-s;
  line-height: 2em;

  @include mq($tablet-portrait, min) {
    font-size: $wow-fsize-paragraph-m;
  }

  @include mq($laptop, min) {
    font-size: $wow-fsize-paragraph-l;
  }
}

.c-wow-footer__tm {
  background-color: $wow-color-grey-four;
  width: 100%;
  padding-block-start: 2em;
  padding-block-end: 2em;
  padding-inline-start: 2em;
  padding-inline-end: 2em;

  p {
    width: 100%;
    max-width: 128.6rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: 400;
    font-size: $wow-fsize-paragraph-xs;
    line-height: 1.2em;
    background-color: $wow-color-grey-four;
    
    @include mq($tablet-portrait, min) {
      font-size: $wow-fsize-paragraph-s;
    }
  
    @include mq($laptop, min) {
      font-size: $wow-fsize-paragraph-m;
    }
  }
}