// :root { font-size: 10px }
* {
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    font-size: 10px;
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    display: grid;
    grid-template-columns: 100vw;
}