.u-heading-1 {
    font-family: $f-family-heading;
    font-style: normal;
    font-weight: bold;
    font-size: $f-size-heading-1;
    line-height: 112px;
}

.u-heading-2 {
    font-family: $f-family-heading;
    font-style: normal;
    font-weight: bold;
    font-size: $f-size-heading-2;
    line-height: 94px;
}

.u-heading-3 {
    font-family: $f-family-heading;
    font-style: normal;
    font-weight: bold;
    font-size: $f-size-heading-3;
    line-height: 56px;
}

.u-paragraph-normal {
    font-family: $f-family-paragraph;
    font-style: normal;
    font-weight: normal;
    font-size: $f-size-paragraph-normal;
    line-height: 21px;
    text-align: center;
}

.u-paragraph-italic {
    font-family: $f-family-paragraph;
    font-style: italic;
    font-weight: 500;
    font-size: $f-size-paragraph-small;
    line-height: 16px;
    text-align: center;
}