// f -> font
// d -> difficulty

$f-family-heading: 'Cairo', sans-serif;
$f-family-paragraph: 'Roboto', sans-serif;

$f-size-paragraph-small: 14px;
$f-size-paragraph-normal: 18px;

$f-size-heading-1: 60px;
$f-size-heading-2: 50px;
$f-size-heading-3: 30px;

$f-color-primary: #FFFFFF;
$f-color-secondary: #BCBCBC;
$f-color-accent: #00FFF0;

$color-easy-d: #50FA7B;
$color-medium-d: #FFB86C;
$color-hard-d: #E74315;
