.three-color-squares {
    display: flex;
    justify-content: center;

    & > div {
        width: 1.1rem;
        height: 1.1rem;

        &:nth-child(1) {
            background-color: $wow-c-hard;
        }

        &:nth-child(2) {
            background-color: $wow-c-medium;
        }

        &:nth-child(3) {
            background-color: $wow-c-easy;
        }
    }
}